.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 173px;
}

.results{
    display: flex;
    justify-content: space-between;
    min-width: 656px;
    gap: 78px;
}

.results_title{
    font-family: var(--font-700);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
    color: white;
}

.results_token{
    width: 293px;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.results_tokenContainer{
    position: relative;
    width: 292.61px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackCircle{
    background-color: rgba(0, 0, 0, 0.1);
    width: 224px;
    height: 224px;
    border-radius: 100%;
}

.results_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.results_messageTitle{
    width: 218px;
    font-family: var(--font-700);
    font-size: 56px;
    line-height: 67.2px;
    color: white;
    justify-self: flex-end;
    text-transform: uppercase;
    text-align: center;
}

.results_playAgain{
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    border: none;
    width: 220px;
    height: 48px;
    border-radius: 8px;
    font-family: var(--font-600);
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.5px;
    cursor: pointer;
    position: relative;
    z-index: 10;                                            /* i need z-index here to make sure that this button is always on top of the other position elements*/
}

.results_playAgain:hover{
    background: linear-gradient(0deg, #2e2d2d 0%, #383838 100%);
    color: white;
}


.results_victoryRing{
    box-sizing: content-box;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    padding: 65px;
    border: 70px solid rgba(255, 255, 255, 0.03);
    outline: 83px solid rgba(255, 255, 255, 0.01);
    position: relative;
    top: -100px;
    left: -10px;
    transition: none;
}

@media(max-width: 1100px){
    .results{
        width: 90%;
        gap: 0px;
    }
}

@media(max-width: 900px){
    .container{
        margin-bottom: 148px;
    }
    .results{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 62px;
    }

    .results_token{
        flex-direction: column-reverse;
    }

    .results_message{
        grid-column: 1/3;
        grid-row: 2/3;
        margin: auto;
    }

    .results_victoryRing{
        top: 90px;
        left: 0px;
    }

}

@media(max-width: 730px){
    .results{
        max-width: 656px;
        min-width: initial;
    }
    .results_token{
        width: 250px;
        height: 300px;
    }   

    .results_tokenContainer{
        width: 250px;
        height: 258px;
    }

    .results_victoryRing{
        padding: 40px;
        border-width: 40px;
        outline-width: 40px;
        top: 63px;
    }
    .results_title{
        font-size: 15px;
        line-height: 32px;
        letter-spacing: 1.88px;
    }
}


@media(max-width: 600px){
    .results_token{
        width: 250px;
        height: 182px;        

    }
    .results_tokenContainer{
        width: 132px;
        height: 133px;
    }

    .blackCircle{
        width: 100px;
        height: 100px;
    }
}

@media(max-width: 550px){
    .results_token{
        width: 145px;
    }
}
@media(max-width: 450px){
    .results_victoryRing{
        padding: 18px;
        border-width: 24px;
        outline-width: 33px;
        top: 21px;
    }
}