@font-face {
    font-family: 'barlow 700';
    src: url('./FontFiles/BarlowSemiCondensed-Bold.ttf');
}

@font-face {
    font-family: 'barlow 600';
    src: url('./FontFiles/BarlowSemiCondensed-SemiBold.ttf');
}

:root{
    --font-700: 'barlow 700';
    --font-600: 'barlow 600';
}


body{
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;                 /* for some reason, i need this here so i can position the Rules button properly in the viewport, im not sure whats going on here*/
    background-image: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid transparent;      /* this is here to prevent margin collapse */
}

* {
    transition: all 0.2s linear;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


